.cardsWrapper {
  position: relative;
  // border: 1px solid gray;
  margin: 10px;

  //rotate
  transition: transform 1s;
  transform-style: preserve-3d;

  &:hover button{
    opacity: 1;
  }

  &:hover .background{
    opacity: 0.2;
  }
}

.rotate {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.cardItem {
  margin: 10px;
}

.background {
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  transition: visibility 0.1s, opacity 0.1s linear;
  position: absolute;
  background-color: black;
  border-radius: 8px;
  z-index: 10;
}

.btn {
  position: absolute;
  width: 100px;
  top: 0px;

  opacity: 0;
  transition: visibility 0.1s, opacity 0.1s linear;
  z-index: 100;
}

.btnRemove {
  left: 30px;
}

.btnFilter {
  left: 150px;
}

.btnLang {
  transform: rotate(90deg);
  right: -20px;
  top: 300px;
}