.wrapper {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  gap: 50px;
}

.creditsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.creditItem {
  display: flex;
  transition: 0.3s;
  padding: 10px;
  margin-bottom: 10px;
  height: 250px;

  &:hover {
    position: relative;
    padding: 0;
  }

  img {
    width: 150px;
  }

}

.creditTitle {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  top: 20px;
  left: 20px;
}

.subTitle {
  margin-right: 5px;
  font-weight: bold;
}

.img {
  width: 300px;
  height: 450px;
}

.popularity {
  position: absolute;
  top: 50px;
  right: 50px;
}