.wrapper {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  gap: 50px;
}

.contant {


}

.subTitle {
  margin-right: 5px;
  font-weight: bold;
}

.img {
  width: 300px;
  height: 450px;
}

.popularity {
  position: absolute;
  top: 50px;
  right: 50px;
}