.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

    button:first-child {
        margin-right: 10px;
    }
}

.wordWrapper {
    display: flex;
    position: relative;
    height: 100px;
}

.wordItem {
    position: absolute;
    border: 1px solid lightgray;
    width: 345px;
    height: 60px;
    border-radius: 5px;
    padding: 10px;
    left: 183px;
    overflow-y: scroll;
}

.wordItemError {
    width: 180px;
    color: red;
    position: absolute;
    top: 30px;
}

.modalContainer {
    width: 600px !important;
}

.movieTitle {
    cursor: pointer;

    &:hover {
        background-color: aquamarine;
        border-radius: 5px;
    }
}

.titleList {
    display: flex;
    flex-direction: column;

    p {
        margin: 0 !important;
    }
}

.tagsWrapper {
    height: 200px;
}