$imageWidth: calc(100vw / 2 - 200px);
$modalHeight: calc(100vh);

.modalContainer {
    width: calc(100vw - 200px) !important;
    top: 10px;

    & > div {
        height: $modalHeight;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    gap: 50px;
}

.movieDataElem {
    margin: 10px 0;
}

.poster {
    img {
        width: 100%;
    }
}

.info {
    overflow: scroll;
    height: calc(100vh - 300px);
}

.imageWrapper {
    img {
        width: 100%;
        max-height: calc($modalHeight - 100px);
    }
}