@use '@/styles/colors';

.header {
  display: flex;
  padding: 0 20px;
  background-color: colors.$main-color !important;
  align-items: center;
  height: var(--header-height) !important;
}

.logo {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.menu {
  background-color: colors.$main-color;
  padding-left: 50px;
  color: white;
  width: 300px;
}

.link {
  padding: 30px 10px;
  color: white;

  &:hover {
    color: white;
    background-color: colors.$main-color-hover;
  }
}
