@use '@/styles/colors';

.header {
  display: grid;
  grid-template-columns: 100px auto;
  padding: 0 20px;
  background-color: #4a8abd !important;
  align-items: center;
  height: var(--header-height) !important;
  z-index: 100;
}

.logo {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  grid-column: 1;
}

.menu {
  background-color: #4a8abd;
  color: white;
  grid-column: 2;
}

.link {
  padding: 24px 10px;
  color: white;

  &:hover {
    color: white;
    background-color: #58a2df;
  }
}

.rightElems {
  grid-column: 4;
}

.search {
  display: flex;
  justify-content: flex-end;
}