.form {
    position: absolute;
    top: 50px;
    left: 500px;
    border: 1px solid rgb(255, 73, 73);
    border-radius: 4px;
    padding: 15px;
    background-color: lightcoral;
}

.formBtn {
    display: inline-flex;
    justify-content: center;

    div {
        display: flex;
        justify-content: space-between;
        width: 180px;
    }
}